<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Formulaire Employé</title>
</head>

<body>
    <h1>Ajouter un Employé</h1>
    <form id="employeeForm">
        <input type="text" id="nom" name="nom" placeholder="Nom" required>
        <input type="text" id="prenom" name="prenom" placeholder="Prénom" required>
        <input type="email" id="email" name="email" placeholder="Email" required>
        <input type="date" id="date_embauche" name="date_embauche">
        <button type="submit">Ajouter</button>
    </form>
    <script src="../static/script.js"></script>
</body>

</html>